body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to left, #6a11cb, #2575fc);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

header {
  text-align: center;
  font-size: 30px;
  font-family: 'Brush Script MT', cursive;
  margin-bottom: 20px;
}

.container {
  background: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 400px;
}

.category-buttons button {
  background-color: #ff6347;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.category-buttons button:hover {
  background-color: #ff4500;
}

.shayari-list {
  margin-top: 20px;
}

.shayari-item {
  background-color: #fff;
  color: #333;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button.copy-btn, button.whatsapp-btn {
  background-color: #25D366;
  color: white;
  border: none;
  padding: 8px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button.copy-btn:hover, button.whatsapp-btn:hover {
  background-color: #128C7E;
}
